.login-container {
    height: 100vh;
    background-color: #efefef;
}

.login-text {
    /* background-color: #ffda00; */
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    color: #000;
    height: 100%;
}

.login-title {
    font-size: 40pt;
}

.login-welcome {
    color:#303030;  
    margin-bottom: 10px;
    font-size: 22pt;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}