@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, textarea {
    font: 400 14px Roboto, sans-serif;
    background:#f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

textarea {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}


.button {
    padding: 10px;
    border-radius: 10px;
    background: #ffda00;
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 10px;
}

.button-full-width {
    width: 100%;
}

.MuiFormLabel,
label.Mui-focused {
    color: #ffda00 !important;
}

.MuiOutlinedInput-root fieldset,
.MuiOutlinedInput-root:hover fieldset,
.MuiOutlinedInput-root.Mui-focused fieldset,
.MuiOutlinedInput-notchedOutline fieldset,
.MuiInput-underline:after
{
    border-color: #ffda00 !important;
}

.MuiCircularProgress-colorPrimary {
    color: #ffda00 !important;
}

.paper-view {
    background-color:#ffffff !important;
    padding: 20px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 6px;
}

.modal-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSizeSmall.MuiButton-sizeSmall {
    color: white;
    background-color: #7dd420;
    width: 90px;
    padding: 3px;
    text-transform: none;
    font-size: 12pt;
    border-radius: 6px;
    text-align: center;
    box-shadow: none;
    height: 36px;
}

.public-DraftStyleDefault-ltr {
    text-align: justify !important;
}