@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background:#f0f0f5;
    -webkit-font-smoothing: antialiased;

}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;

}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px;
    border-radius: 10px;
    background: #f28624;
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 10px;
}

.button-full-width {
    width: 100%;
}

.MuiFormLabel,
.Mui-focused {
    color: #f28624 !important;
}

.MuiOutlinedInput-root fieldset,
.MuiOutlinedInput-root:hover fieldset,
.MuiOutlinedInput-root.Mui-focused fieldset,
.MuiOutlinedInput-notchedOutline fieldset
{
    border-color: #f28624 !important;
}